@import 'styles/variables';

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: $source-sans;
  color: $off-black;
  background: none;
  button:focus {
    outline: $secondary;
  }
  input:focus {
    outline: none;
  }
  button:hover {
    cursor: pointer;
  }
}

body {
  background: $off-white;
  height: 3000px;
}

.no-underline {
  text-decoration: none;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.modal-background {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-container {
  display: inline-block;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
  width: 80%;
  max-width: 400px;
  height: 400px;
  padding: 10px;
  border-radius: 10px;
  background-color: $off-white;
  overflow: scroll;
}

